images/
sliced_images/
random_cuts/
__pycache__/
_tools/
geneerated_videos/
generated_videos/
images_old/
old/
photos/
sliced_images_old/
text_files/
to_transcribe/
transcribed/
transcribing_mono/ 
verified_photos/
voice_files/
waste/
tts_json_key.json
transcribe_json_key.json
test.txt 
.env
